:root {
  --primary-text-color: rgba(0, 0, 0, 0,8);
  --title-text-color: #434455;
  --accent-color: #4D5AE5;
  --primary-white-color: #ffffff;
  --primary-heading-text: #2E2F42;
}


body {
background-color: var(--primary-white-color)
color: var(--primary-text-color);
}



.logo-link  {
  color: var(--primary-heading-text);
  text-decoration:  none;
  width: 71px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.web-text {
  color: var(--accent-color);
    width: 71px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

/* Navigation plus contact-info */
.site-nav .link {
 color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color)
} 


.contact-info a {
  color: var(--title-text-color);
}

.contact-list a:hover {
  color: var(--accent-color)
}

  /* Hero */
.hero {

}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Advantages 'work examples') */

.feature-list .work-list-title {
  color: var(--title-text-color);
}

/* button */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block; 
  border-color: transparent; 
  text-decoration: none;
}


.button.primary {
 background-color: var(--accent-color);
 color: var(--primary-white-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color); 
}

